{% extends 'bootstrap/base.html' %}
{#继承与父页面 bootstrap#}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}默认标题{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">千锋Python</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">扛把子博客</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main.index') }}">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">我发表的博客</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('users.logout') }}">注销</a></li>
                         <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello,{{ current_user.username }} <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="{{ url_for('users.profile') }}">个人中心</a></li>
                                <li><a href="#">修改密码</a></li>
                                <li><a href="#">修改邮箱</a></li>
                                <li><a href="{{ url_for('users.change_icon') }}">修改头像</a></li>
                              </ul>
                         </li>
                    {% else %}
                        <li><a href="{{ url_for('users.register') }}">注册</a></li>
                        <li><a href="{{ url_for('users.login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{#定制内容#}
{% block content %}
    <div class="container">

         {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ message }}
                </div>
         {% endfor %}
        {# 页面内容#}
        {% block page_content %}




        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('zh-CN') }}
{% endblock %}
