{% extends 'base.html' %}

{% block title %}图书首页{% endblock %}


{% block content %}
    {% for book in books %}
        <div class="col-xs-6 col-lg-4">
              <h2>序号:{{ forloop.counter }}</h2>
              <p>书名:{{ book.1 }}</p>
              <p>作者:{{ book.2 }}</p>
              <p><a class="btn btn-default" href="{% url 'book_detail' book_id=book.0  %}" role="button">详情点击 &raquo;</a></p>
        <form action="{% url 'delete_book' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ book.0 }}" name="book_id">
            <input type="submit" value="删除按钮">
        </form>
        </div>

    {% endfor %}

{% endblock %}